    /* Input.css */

    .input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        background-color: var(--background-color);
        padding: var(--spacing-small);
        transition: border-color var(--transition-duration) var(--transition-easing);
    }
    
    .input-wrapper.input-empty {
        border-color: var(--border-color);
    }
    
    .input-wrapper.input-not-empty {
        border-color: var(--primary-color);
    }
    
    .input-wrapper.input-disabled {
        background-color: var(--disabled-background-color);
        border-color: var(--disabled-border-color);
        color: var(--disabled-text-color);
        cursor: not-allowed;
    }
    
    .input-wrapper:focus-within {
        border-color: var(--primary-color);
    }
    
    .input-element {
        width: 100%;
        padding-left: 5px; /* Отступ слева для текста */
        height: var(--input-height);
        padding: 0 var(--spacing-medium);
        font-size: var(--font-size-medium);
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--text-primary-color);
        transition: background-color var(--transition-duration) var(--transition-easing);
        padding-right: calc(var(--spacing-medium) + 20px); /* Увеличенный padding для слота */
    }
    
    .input-element::placeholder {
        color: var(--text-secondary-color);
    }
    
    .input-element:disabled {
        background-color: var(--disabled-background-color);
        color: var(--disabled-text-color);
        opacity: 0.6; /* Сделайте элемент более светлым */
    }
    .input-element:focus {
        border-color: var(--primary-color);
        background-color: var(--background-color); /* Белый фон при фокусе */
    }
    
    
    .input-after-slot {
        position: absolute;
        right: var(--spacing-small);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--icon-color);
        pointer-events: none; /* Иконка не будет интерактивной */
    }
    