@import './Roboto/fonts';

html, body {
  font-family: 'Roboto',  sans-serif;
  margin: 0;
  padding: 0;
 
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}










/*--------------------*/



:root {
  --primary: rgba(0, 0, 0, 1);   /* Пример цвета для primary */
  --secondary: rgba(175, 173, 181, 1); /* Пример цвета для secondary */
  --accent: rgba(81, 133, 129, 1);  
  --space-s: 16px;
  --space-xl: 24px;
  --space-l: 20px;
  --space-m: 16px;
  --space-xs: 12px;
  --space-xxs:8px;
  --button-primary-bg: rgba(81, 133, 129, 1);
  --button-primary-bg-disabled: rgba(217, 217, 217, 1);
  --button-primary-text-disabled: rgba(255, 255, 255, 1);
  --button-primary-text: rgba(255, 255, 255, 1);
  --brand-hover: rgba(134, 170, 167, 1);
  --card:rgba(255, 255, 255, 1);

  --primary-color: #518581;







}
