

:root {
    /* Цвета */
    --primary-color: #518581;
    --secondary-color: #f0f0f0;
    --accent-color: #ff6347;
    --text-primary-color: #333333;
    --text-secondary-color: #a0a0a0;
    --background-color: rgba(236, 235, 235, 1);
    --border-color: #ccc;
    --hover-background-color: rgba(175, 173, 181, 1);
    --disabled-background-color: #ffffff;
    --disabled-border-color: #e0e0e0;
    --disabled-text-color: rgba(175, 173, 181, 1);
    --icon-color: #999999;
    --error-color: #ff4d4f;
  
    /* Отступы */
    --spacing-small: 7px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xlarge: 32px;
  
    /* Размеры */
    --border-radius-small: 4px;
    --border-radius-medium: 8px;
    --border-radius-large: 12px;
    --input-height: 40px;
    --icon-size: 20px;
  
    /* Шрифты */
    --font-family: 'Arial', sans-serif;
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-xlarge: 18px;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
  
    /* Переходы */
    --transition-duration: 0.3s;
    --transition-easing: ease-in-out;
  }